<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<main>
    <form th:action="@{/registration}" th:object="${user}" th:method="POST" onchange="validate()">
        <div>
            <h1>Реєстрація</h1>
        </div>
        <div class="form-row">
            <label>Нікнейм</label>
            <input type="text" th:field="*{username}">
            <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error</div>
        </div>

        <div class="form-row">
            <label>Ім'я</label>
            <input type="text" th:field="*{firstName}">
            <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">error</div>
        </div>

        <div class="form-row">
            <label>Прізвище</label>
            <input type="text" th:field="*{lastName}">
            <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">error</div>
        </div>

        <div class="form-row">
            <label>Електронна пошта</label>
            <input type="text" th:field="*{email}">
            <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</div>
        </div>

        <div class="form-row">
            <label>Номер телефону</label>
            <input type="text" th:field="*{phoneNumber}">
            <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">error</div>
        </div>

        <div class="form-row">
            <label>Пароль</label>
            <input type="password" id="password" th:field="*{password}">
            <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</div>
        </div>

        <div class="form-row" onchange="comparePassword()">
            <label>Повторіть пароль</label>
            <input type="password">
            <div style="color: red"></div>
        </div>
        <button type="submit" value="Create!">Підтвердити</button>
    </form>
</main>
</body>
</html>